{% extends "layout.html" %}
{% block content %}
<div class="container-fluid bg-3 text-center">
    <h1>The Nail Bar</h1>
    <p>Here at The Nail Bar we care about the fine details</p>

    <!-- First Container -->
    <div class="container-fluid bg-3 text-center">
        <img src="/static/images/french_mani.jpg" class="img-responsive img-rounded" style="display:inline" alt="Spider nail art" height="450">
    </div>
    <p>As you can tell from our exquisitely designed site, web design is our passion</p>
</div>
{% endblock content %}
