{% extends "layout.html" %}
{% block content %}
<div class="container-fluid bg-3 text-center">
    <img src="{{url_for('static',filename='images/spider_nail_art.jpg')}}" class="img-responsive img-rounded" style="display:inline" alt="Spider nail art" height="450">
</div>

<div class="container-fluid bg-1 text-center">
    <h1>Price List</h1>
    {% for service in services %}
        <h2>{{ service.service }}</h2>
        <p> Nail artist is {{ service.nail_artist }} and this will require {{ service.time_required }}</p>
        <p> Price for this is {{ service.price }}</p>
    {% endfor %}
</div>
<!-- First Container -->
<div class="container-fluid bg-3 text-center">
    <img src="{{url_for('static',filename='images/optical_nail_art.jpg')}}" class="img-responsive img-rounded" style="display:inline" alt="Spider nail art" height="450">
</div>

{% endblock content %}



